@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

:root {
    --primary-color : #AD48FA; 
    --secondary-color : #E2DFEB;
    --button-color: #D6C37E;
    --main-radius : 15px;
    --secondary-radius : 25px;
}

* {
    padding: 0;
    margin: 0;
}
button {

    background: none;
    border: none;
}
.main-container {
    position: relative;
    min-height: 100vh;
    max-height: 100vh;
    /* overflow-y: scroll; */
    background-color: var(--primary-color);
    background-image: url('/assets/bg-beranda.png');
    background-size: 290px;
    background-position: right top;
    background-repeat: no-repeat;
}

.name-text{
    background: var(--button-color);
    width: 13rem;
    height: 60px;
    border-radius: 15px;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
}

.name-text span {
    font-weight: 700;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.user-profile {
    width: 60px;
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.history-icon {
    font-size: 60px;
    color: var(--secondary-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.body-section {
    padding-top: 9rem;
}

.item-list {
    font-size: 14px;
    font-weight: 600;
    margin-top: 1.2rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navigate-section{
    position: absolute;

    width: 100%;
    bottom: 0;
    align-self: self-end;
    padding: 20px;
}
.link-item {
    padding: 0 30px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.btn-icon {
    width: 62px;
}

