@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');
:root {
    --main-color : #AD48FA; 
    --secondary-color : #E2DFEB;
    --button-color: #E2DFEB;
    --main-radius : 15px;
    --secondary-radius : 25px;
}


